@import "partials/flexbox-base";

.container {
  display: flex;
  flex-direction: row;

  border: 1px solid white;
  width: 400px;
}

.container div {
  float: right;
  margin: 0;
  width: 150px;
  flex-basis: 200px;
}

.container div:nth-child(2) {
}
.container div:nth-child(3) {
}
